<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>
    Attorneys for Court :: SmallClaimsCourtLawyer.com
    <%= " :: #{@page_title}"  if @page_title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection" charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/jquery-ui-1.7.2.custom.css" type="text/css" media="screen, projection" charset="utf-8">
  <!--[if IE]>
  <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" charset="utf-8" />
  <![endif]-->
  <script src="/javascripts/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/jquery-ui-1.7.2.custom.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/jquery-validate.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/default.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div id="main_container">
    <div id="header">
      <div id="logo">
        <img src="/images/logo.png" alt="Attorneys for Court" width="400" height="100" />
      </div>
      <div id="contact_info">
        <div class="content_container">
          <strong>Contact us today:</strong><br />
          <strong>Phone</strong> (321) 206-8108<br />
          <strong>Fax</strong> (866) 835-1161
        </div>
      </div>
    </div>
    <div id="tabs_container">
      <div class="tab first">
        <a href="/" id="home_tab_link" title="Home" <%= %(class="current") unless @page_title %>>&nbsp;</a>
      </div>
      <div class="tab">
        <a href="/about" id="about_tab_link" title="About" <%= %(class="current") if @page_title == 'About' %>>&nbsp;</a>
      </div>
      <div class="tab">
        <a href="/payments" id="payments_tab_link" title="Get Started / Payments" <%= %(class="current") if @page_title == 'Get Started / Payments' %>>&nbsp;</a>
      </div>
      <div class="tab last">
        <a href="/contact" id="contact_tab_link" title="Contact" <%= %(class="current") if @page_title == 'Contact' %>>&nbsp;</a>
      </div>
    </div>
    <div id="photo"></div>
    <div id="content">
      <div class="content_container">
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <div id="footer_info">
        <div class="content_container">
          <strong>Attorneys For Court is the DBA of Law Office of Jorg M. Rivera, P.A.</strong><br />
          <strong>Email</strong> <a href="EMAIL" id="contact_email_link">EMAIL</a><br />
          <strong>Phone</strong> (321) 206-8108<br />
          <strong>Fax</strong> (866) 835-1161        
        </div>
      </div>
      <div id="footer_copyright">
        <div class="content_container">
          <p>
            The information in this website is not nor is it intended to be legal
            advice. Hiring of an attorney is an important decision which should not
            be based on advertising. You are invited to contact our office for
            additional information and references and we welcome your call.
            Contacting us does not create an attorney-client relationship. Before
            you decide, ask our office to send you free information about
            qualifications and experience.
          </p>
          <p>
            Copyright &copy; 2009 SmallClaimsCourtLawyer.com
          </p>        
        </div>
      </div>
    </div>
  </div>
</body>
</html>